src/META-INF/wsdl/192.168.5.76/B1WS/WebReferences/ItemsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="ItemsService" xmlns:s1="http://www.sap.com/SBO/DIS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="ItemsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.sap.com/SBO/DIS">
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ItemParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="RemoveResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="CancelResponse">
        <s:complexType>
          <s:sequence />
        </s:complexType>
      </s:element>
      <s:element name="Item">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="ItemCode" type="s:string" />
            <s:element minOccurs="0" name="ItemName" type="s:string" />
            <s:element minOccurs="0" name="ForeignName" type="s:string" />
            <s:element minOccurs="0" name="ItemsGroupCode" type="s:long" />
            <s:element minOccurs="0" name="CustomsGroupCode" type="s:long" />
            <s:element minOccurs="0" name="SalesVATGroup" type="s:string" />
            <s:element minOccurs="0" name="BarCode" type="s:string" />
            <s:element minOccurs="0" name="VatLiable">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PurchaseItem">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="SalesItem">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="InventoryItem">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="IncomeAccount" type="s:string" />
            <s:element minOccurs="0" name="ExemptIncomeAccount" type="s:string" />
            <s:element minOccurs="0" name="ExpanseAccount" type="s:string" />
            <s:element minOccurs="0" name="Mainsupplier" type="s:string" />
            <s:element minOccurs="0" name="SupplierCatalogNo" type="s:string" />
            <s:element minOccurs="0" name="DesiredInventory" type="s:double" />
            <s:element minOccurs="0" name="MinInventory" type="s:double" />
            <s:element minOccurs="0" name="Picture" type="s:string" />
            <s:element minOccurs="0" name="User_Text" type="s:string" />
            <s:element minOccurs="0" name="SerialNum" type="s:string" />
            <s:element minOccurs="0" name="CommissionPercent" type="s:double" />
            <s:element minOccurs="0" name="CommissionSum" type="s:double" />
            <s:element minOccurs="0" name="CommissionGroup" type="s:long" />
            <s:element minOccurs="0" name="TreeType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="iNotATree" />
                  <s:enumeration value="iAssemblyTree" />
                  <s:enumeration value="iSalesTree" />
                  <s:enumeration value="iProductionTree" />
                  <s:enumeration value="iTemplateTree" />
                  <s:enumeration value="iIngredient" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="AssetItem">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DataExportCode" type="s:string" />
            <s:element minOccurs="0" name="Manufacturer" type="s:long" />
            <s:element minOccurs="0" name="QuantityOnStock" type="s:double" />
            <s:element minOccurs="0" name="QuantityOrderedFromVendors" type="s:double" />
            <s:element minOccurs="0" name="QuantityOrderedByCustomers" type="s:double" />
            <s:element minOccurs="0" name="ManageSerialNumbers">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ManageBatchNumbers">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Valid">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ValidFrom" type="s:date" />
            <s:element minOccurs="0" name="ValidTo" type="s:date" />
            <s:element minOccurs="0" name="ValidRemarks" type="s:string" />
            <s:element minOccurs="0" name="Frozen">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="FrozenFrom" type="s:date" />
            <s:element minOccurs="0" name="FrozenTo" type="s:date" />
            <s:element minOccurs="0" name="FrozenRemarks" type="s:string" />
            <s:element minOccurs="0" name="SalesUnit" type="s:string" />
            <s:element minOccurs="0" name="SalesItemsPerUnit" type="s:double" />
            <s:element minOccurs="0" name="SalesPackagingUnit" type="s:string" />
            <s:element minOccurs="0" name="SalesQtyPerPackUnit" type="s:double" />
            <s:element minOccurs="0" name="SalesUnitLength" type="s:double" />
            <s:element minOccurs="0" name="SalesLengthUnit" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitWidth" type="s:double" />
            <s:element minOccurs="0" name="SalesWidthUnit" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitHeight" type="s:double" />
            <s:element minOccurs="0" name="SalesHeightUnit" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitVolume" type="s:double" />
            <s:element minOccurs="0" name="SalesVolumeUnit" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitWeight" type="s:double" />
            <s:element minOccurs="0" name="SalesWeightUnit" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnit" type="s:string" />
            <s:element minOccurs="0" name="PurchaseItemsPerUnit" type="s:double" />
            <s:element minOccurs="0" name="PurchasePackagingUnit" type="s:string" />
            <s:element minOccurs="0" name="PurchaseQtyPerPackUnit" type="s:double" />
            <s:element minOccurs="0" name="PurchaseUnitLength" type="s:double" />
            <s:element minOccurs="0" name="PurchaseLengthUnit" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitWidth" type="s:double" />
            <s:element minOccurs="0" name="PurchaseWidthUnit" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitHeight" type="s:double" />
            <s:element minOccurs="0" name="PurchaseHeightUnit" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitVolume" type="s:double" />
            <s:element minOccurs="0" name="PurchaseVolumeUnit" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitWeight" type="s:double" />
            <s:element minOccurs="0" name="PurchaseWeightUnit" type="s:long" />
            <s:element minOccurs="0" name="PurchaseVATGroup" type="s:string" />
            <s:element minOccurs="0" name="SalesFactor1" type="s:double" />
            <s:element minOccurs="0" name="SalesFactor2" type="s:double" />
            <s:element minOccurs="0" name="SalesFactor3" type="s:double" />
            <s:element minOccurs="0" name="SalesFactor4" type="s:double" />
            <s:element minOccurs="0" name="PurchaseFactor1" type="s:double" />
            <s:element minOccurs="0" name="PurchaseFactor2" type="s:double" />
            <s:element minOccurs="0" name="PurchaseFactor3" type="s:double" />
            <s:element minOccurs="0" name="PurchaseFactor4" type="s:double" />
            <s:element minOccurs="0" name="MovingAveragePrice" type="s:double" />
            <s:element minOccurs="0" name="ForeignRevenuesAccount" type="s:string" />
            <s:element minOccurs="0" name="ECRevenuesAccount" type="s:string" />
            <s:element minOccurs="0" name="ForeignExpensesAccount" type="s:string" />
            <s:element minOccurs="0" name="ECExpensesAccount" type="s:string" />
            <s:element minOccurs="0" name="AvgStdPrice" type="s:double" />
            <s:element minOccurs="0" name="DefaultWarehouse" type="s:string" />
            <s:element minOccurs="0" name="ShipType" type="s:long" />
            <s:element minOccurs="0" name="GLMethod">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="glm_WH" />
                  <s:enumeration value="glm_ItemClass" />
                  <s:enumeration value="glm_ItemLevel" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="TaxType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tt_Yes" />
                  <s:enumeration value="tt_No" />
                  <s:enumeration value="tt_UseTax" />
                  <s:enumeration value="tt_OffsetTax" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="MaxInventory" type="s:double" />
            <s:element minOccurs="0" name="ManageStockByWarehouse">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="PurchaseHeightUnit1" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitHeight1" type="s:double" />
            <s:element minOccurs="0" name="PurchaseLengthUnit1" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitLength1" type="s:double" />
            <s:element minOccurs="0" name="PurchaseWeightUnit1" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitWeight1" type="s:double" />
            <s:element minOccurs="0" name="PurchaseWidthUnit1" type="s:long" />
            <s:element minOccurs="0" name="PurchaseUnitWidth1" type="s:double" />
            <s:element minOccurs="0" name="SalesHeightUnit1" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitHeight1" type="s:double" />
            <s:element minOccurs="0" name="SalesLengthUnit1" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitLength1" type="s:double" />
            <s:element minOccurs="0" name="SalesWeightUnit1" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitWeight1" type="s:double" />
            <s:element minOccurs="0" name="SalesWidthUnit1" type="s:long" />
            <s:element minOccurs="0" name="SalesUnitWidth1" type="s:double" />
            <s:element minOccurs="0" name="ForceSelectionOfSerialNumber">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ManageSerialNumbersOnReleaseOnly">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="WTLiable">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="CostAccountingMethod">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bis_MovingAverage" />
                  <s:enumeration value="bis_Standard" />
                  <s:enumeration value="bis_FIFO" />
                  <s:enumeration value="bis_SNB" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="SWW" type="s:string" />
            <s:element minOccurs="0" name="WarrantyTemplate" type="s:string" />
            <s:element minOccurs="0" name="IndirectTax">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ArTaxCode" type="s:string" />
            <s:element minOccurs="0" name="ApTaxCode" type="s:string" />
            <s:element minOccurs="0" name="BaseUnitName" type="s:string" />
            <s:element minOccurs="0" name="ItemCountryOrg" type="s:string" />
            <s:element minOccurs="0" name="IssueMethod">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="im_Backflush" />
                  <s:enumeration value="im_Manual" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="SRIAndBatchManageMethod">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bomm_OnEveryTransaction" />
                  <s:enumeration value="bomm_OnReleaseOnly" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="IsPhantom">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="InventoryUOM" type="s:string" />
            <s:element minOccurs="0" name="PlanningSystem">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bop_MRP" />
                  <s:enumeration value="bop_None" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ProcurementMethod">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bom_Buy" />
                  <s:enumeration value="bom_Make" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ComponentWarehouse">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="bomcw_BOM" />
                  <s:enumeration value="bomcw_Parent" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="OrderIntervals" type="s:long" />
            <s:element minOccurs="0" name="OrderMultiple" type="s:double" />
            <s:element minOccurs="0" name="LeadTime" type="s:long" />
            <s:element minOccurs="0" name="MinOrderQuantity" type="s:double" />
            <s:element minOccurs="0" name="ItemType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="itItems" />
                  <s:enumeration value="itLabor" />
                  <s:enumeration value="itTravel" />
                  <s:enumeration value="itFixedAssets" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ItemClass">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="itcService" />
                  <s:enumeration value="itcMaterial" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="OutgoingServiceCode" type="s:long" />
            <s:element minOccurs="0" name="IncomingServiceCode" type="s:long" />
            <s:element minOccurs="0" name="ServiceGroup" type="s:long" />
            <s:element minOccurs="0" name="NCMCode" type="s:long" />
            <s:element minOccurs="0" name="MaterialType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="mt_GoodsForReseller" />
                  <s:enumeration value="mt_FinishedGoods" />
                  <s:enumeration value="mt_GoodsInProcess" />
                  <s:enumeration value="mt_RawMaterial" />
                  <s:enumeration value="mt_Package" />
                  <s:enumeration value="mt_SubProduct" />
                  <s:enumeration value="mt_IntermediateMaterial" />
                  <s:enumeration value="mt_ConsumerMaterial" />
                  <s:enumeration value="mt_FixedAsset" />
                  <s:enumeration value="mt_Service" />
                  <s:enumeration value="mt_OtherInput" />
                  <s:enumeration value="mt_Other" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="MaterialGroup" type="s:long" />
            <s:element minOccurs="0" name="ProductSource" type="s:string" />
            <s:element minOccurs="0" name="Properties1">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties2">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties3">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties4">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties5">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties6">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties7">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties8">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties9">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties10">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties11">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties12">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties13">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties14">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties15">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties16">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties17">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties18">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties19">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties20">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties21">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties22">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties23">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties24">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties25">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties26">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties27">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties28">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties29">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties30">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties31">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties32">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties33">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties34">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties35">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties36">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties37">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties38">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties39">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties40">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties41">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties42">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties43">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties44">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties45">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties46">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties47">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties48">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties49">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties50">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties51">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties52">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties53">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties54">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties55">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties56">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties57">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties58">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties59">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties60">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties61">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties62">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties63">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Properties64">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="AutoCreateSerialNumbersOnRelease">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DNFEntry" type="s:long" />
            <s:element minOccurs="0" name="GTSItemSpec" type="s:string" />
            <s:element minOccurs="0" name="GTSItemTaxCategory" type="s:string" />
            <s:element minOccurs="0" name="FuelID" type="s:long" />
            <s:element minOccurs="0" name="BeverageTableCode" type="s:string" />
            <s:element minOccurs="0" name="BeverageGroupCode" type="s:string" />
            <s:element minOccurs="0" name="BeverageCommercialBrandCode" type="s:long" />
            <s:element minOccurs="0" name="Series" type="s:long" />
            <s:element minOccurs="0" name="ToleranceDays" type="s:long" />
            <s:element minOccurs="0" name="TypeOfAdvancedRules">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="toarGeneral" />
                  <s:enumeration value="toarWarehouse" />
                  <s:enumeration value="toarItemGroup" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="IssuePrimarilyBy">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="ipbSerialAndBatchNumbers" />
                  <s:enumeration value="ipbBinLocations" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="NoDiscounts">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="AssetClass" type="s:string" />
            <s:element minOccurs="0" name="AssetGroup" type="s:string" />
            <s:element minOccurs="0" name="InventoryNumber" type="s:string" />
            <s:element minOccurs="0" name="Technician" type="s:long" />
            <s:element minOccurs="0" name="Employee" type="s:long" />
            <s:element minOccurs="0" name="Location" type="s:long" />
            <s:element minOccurs="0" name="AssetStatus">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="New" />
                  <s:enumeration value="Active" />
                  <s:enumeration value="Inactive" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="CapitalizationDate" type="s:date" />
            <s:element minOccurs="0" name="StatisticalAsset">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="Cession">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="DeactivateAfterUsefulLife">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ManageByQuantity">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="UoMGroupEntry" type="s:long" />
            <s:element minOccurs="0" name="InventoryUoMEntry" type="s:long" />
            <s:element minOccurs="0" name="DefaultSalesUoMEntry" type="s:long" />
            <s:element minOccurs="0" name="DefaultPurchasingUoMEntry" type="s:long" />
            <s:element minOccurs="0" name="DepreciationGroup" type="s:string" />
            <s:element minOccurs="0" name="AssetSerialNumber" type="s:string" />
            <s:element minOccurs="0" name="InventoryWeight" type="s:double" />
            <s:element minOccurs="0" name="InventoryWeightUnit" type="s:long" />
            <s:element minOccurs="0" name="InventoryWeight1" type="s:double" />
            <s:element minOccurs="0" name="InventoryWeightUnit1" type="s:long" />
            <s:element minOccurs="0" name="DefaultCountingUnit" type="s:string" />
            <s:element minOccurs="0" name="CountingItemsPerUnit" type="s:double" />
            <s:element minOccurs="0" name="DefaultCountingUoMEntry" type="s:long" />
            <s:element minOccurs="0" name="Excisable">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="tNO" />
                  <s:enumeration value="tYES" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="ChapterID" type="s:long" />
            <s:element minOccurs="0" name="ScsCode" type="s:string" />
            <s:element minOccurs="0" name="SpProdType">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="sptMT" />
                  <s:enumeration value="sptIO" />
                </s:restriction>
              </s:simpleType>
            </s:element>
            <s:element minOccurs="0" name="U_BA_IsFA" type="s:string" />
            <s:element minOccurs="0" name="U_BA_TypID" type="s:long" />
            <s:element minOccurs="0" name="U_BA_NumID" type="s:long" />
            <s:element minOccurs="0" name="U_BA_LVAFrom" type="s:double" />
            <s:element minOccurs="0" name="U_BA_LVA" type="s:double" />
            <s:element minOccurs="0" name="U_U_Mate" type="s:string" />
            <s:element minOccurs="0" name="U_Grupo" type="s:string" />
            <s:element minOccurs="0" name="U_SubGrupo" type="s:string" />
            <s:element minOccurs="0" name="U_U_NomWeb" type="s:string" />
            <s:element minOccurs="0" name="U_U_PicPro" type="s:string" />
            <s:element minOccurs="0" name="U_U_Color" type="s:string" />
            <s:element minOccurs="0" name="U_U_Ref_Pro" type="s:string" />
            <s:element minOccurs="0" name="U_U_Ref_Aduana" type="s:string" />
            <s:element minOccurs="0" name="U_U_Des_Aduana" type="s:string" />
            <s:element minOccurs="0" name="U_U_Cod_Aran" type="s:string" />
            <s:element minOccurs="0" name="U_U_Carat" type="s:string" />
            <s:element minOccurs="0" name="U_U_Num_Part" type="s:string" />
            <s:element minOccurs="0" name="U_U_Col_Estru" type="s:string" />
            <s:element minOccurs="0" name="U_U_Pal_Cla" type="s:string" />
            <s:element minOccurs="0" name="U_U_Alt" type="s:string" />
            <s:element minOccurs="0" name="U_U_Hab_Des" type="s:string" />
            <s:element minOccurs="0" name="U_U_Act_Qn" type="s:date" />
            <s:element minOccurs="0" name="U_descripciona" type="s:string" />
            <s:element minOccurs="0" name="U_Cuidados" type="s:string" />
            <s:element minOccurs="0" name="U_Cojineria" type="s:long" />
            <s:element minOccurs="0" name="U_Type" type="s:string" />
            <s:element minOccurs="0" name="U_NWR_SCRP" type="s:double" />
            <s:element minOccurs="0" name="U_NWRWOPO" type="s:long" />
            <s:element minOccurs="0" name="U_NWR_MATRIX" type="s:long" />
            <s:element minOccurs="0" name="U_NWR_AutoShipment" type="s:string" />
            <s:element minOccurs="0" name="U_materiales" type="s:string" />
            <s:element minOccurs="0" name="U_Numpartes" type="s:string" />
            <s:element minOccurs="0" name="U_foto_hd" type="s:string" />
            <s:element minOccurs="0" name="U_modelo" type="s:string" />
            <s:element minOccurs="0" name="U_escanear_bot" type="s:string" />
            <s:element minOccurs="0" name="U_id_youtube" type="s:string" />
            <s:element minOccurs="0" name="U_fotosOK" type="s:string" />
            <s:element minOccurs="0" name="U_talla" type="s:string" />
            <s:element minOccurs="0" name="U_Posicion_Chaise" type="s:string" />
            <s:element minOccurs="0" name="U_registro_cambio" type="s:string" />
            <s:element minOccurs="0" name="U_DescCorta" type="s:string" />
            <s:element minOccurs="0" name="U_Descontinuado" type="s:string" />
            <s:element minOccurs="0" name="U_Modelado" type="s:string" />
            <s:element minOccurs="0" name="U_reprocesarfotos" type="s:date" />
            <s:element minOccurs="0" name="U_codigoEan" type="s:string" />
            <s:element minOccurs="0" name="U_CodigoMarca" type="s:string" />
            <s:element minOccurs="0" name="U_Coleccion" type="s:string" />
            <s:element minOccurs="0" name="U_TipoEtiqueta" type="s:long" />
            <s:element minOccurs="0" name="U_EsAIU" type="s:string" />
            <s:element minOccurs="0" name="U_PorcAIU" type="s:double" />
            <s:element minOccurs="0" name="U_AIU_Asoc" type="s:string" />
            <s:element minOccurs="0" name="U_FactorRedondeo" type="s:long" />
            <s:element minOccurs="0" name="U_fechaModificacion" type="s:date" />
            <s:element minOccurs="0" name="U_Consignacion" type="s:string" />
            <s:element minOccurs="0" name="U_Bloqueado" type="s:string" />
            <s:element minOccurs="0" name="ItemPrices">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemPrice">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="PriceList" type="s:long" />
                        <s:element minOccurs="0" name="Price" type="s:double" />
                        <s:element minOccurs="0" name="Currency" type="s:string" />
                        <s:element minOccurs="0" name="AdditionalPrice1" type="s:double" />
                        <s:element minOccurs="0" name="AdditionalCurrency1" type="s:string" />
                        <s:element minOccurs="0" name="AdditionalPrice2" type="s:double" />
                        <s:element minOccurs="0" name="AdditionalCurrency2" type="s:string" />
                        <s:element minOccurs="0" name="BasePriceList" type="s:long" />
                        <s:element minOccurs="0" name="Factor" type="s:double" />
                        <s:element minOccurs="0" name="UoMPrices">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="UoMPrice">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="PriceList" type="s:long" />
                                    <s:element minOccurs="0" name="UoMEntry" type="s:long" />
                                    <s:element minOccurs="0" name="ReduceBy" type="s:double" />
                                    <s:element minOccurs="0" name="Price" type="s:double" />
                                    <s:element minOccurs="0" name="Currency" type="s:string" />
                                    <s:element minOccurs="0" name="AdditionalReduceBy1" type="s:double" />
                                    <s:element minOccurs="0" name="AdditionalPrice1" type="s:double" />
                                    <s:element minOccurs="0" name="AdditionalCurrency1" type="s:string" />
                                    <s:element minOccurs="0" name="AdditionalReduceBy2" type="s:double" />
                                    <s:element minOccurs="0" name="AdditionalPrice2" type="s:double" />
                                    <s:element minOccurs="0" name="AdditionalCurrency2" type="s:string" />
                                    <s:element minOccurs="0" name="Auto">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="tNO" />
                                          <s:enumeration value="tYES" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemWarehouseInfoCollection">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemWarehouseInfo">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="MinimalStock" type="s:double" />
                        <s:element minOccurs="0" name="MaximalStock" type="s:double" />
                        <s:element minOccurs="0" name="MinimalOrder" type="s:double" />
                        <s:element minOccurs="0" name="StandardAveragePrice" type="s:double" />
                        <s:element minOccurs="0" name="Locked">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="InventoryAccount" type="s:string" />
                        <s:element minOccurs="0" name="CostAccount" type="s:string" />
                        <s:element minOccurs="0" name="TransferAccount" type="s:string" />
                        <s:element minOccurs="0" name="RevenuesAccount" type="s:string" />
                        <s:element minOccurs="0" name="VarienceAccount" type="s:string" />
                        <s:element minOccurs="0" name="DecreasingAccount" type="s:string" />
                        <s:element minOccurs="0" name="IncreasingAccount" type="s:string" />
                        <s:element minOccurs="0" name="ReturningAccount" type="s:string" />
                        <s:element minOccurs="0" name="ExpensesAccount" type="s:string" />
                        <s:element minOccurs="0" name="EURevenuesAccount" type="s:string" />
                        <s:element minOccurs="0" name="EUExpensesAccount" type="s:string" />
                        <s:element minOccurs="0" name="ForeignRevenueAcc" type="s:string" />
                        <s:element minOccurs="0" name="ForeignExpensAcc" type="s:string" />
                        <s:element minOccurs="0" name="ExemptIncomeAcc" type="s:string" />
                        <s:element minOccurs="0" name="PriceDifferenceAcc" type="s:string" />
                        <s:element minOccurs="0" name="WarehouseCode" type="s:string" />
                        <s:element minOccurs="0" name="InStock" type="s:double" />
                        <s:element minOccurs="0" name="Committed" type="s:double" />
                        <s:element minOccurs="0" name="Ordered" type="s:double" />
                        <s:element minOccurs="0" name="CountedQuantity" type="s:double" />
                        <s:element minOccurs="0" name="WasCounted">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="UserSignature" type="s:long" />
                        <s:element minOccurs="0" name="Counted" type="s:double" />
                        <s:element minOccurs="0" name="ExpenseClearingAct" type="s:string" />
                        <s:element minOccurs="0" name="PurchaseCreditAcc" type="s:string" />
                        <s:element minOccurs="0" name="EUPurchaseCreditAcc" type="s:string" />
                        <s:element minOccurs="0" name="ForeignPurchaseCreditAcc" type="s:string" />
                        <s:element minOccurs="0" name="SalesCreditAcc" type="s:string" />
                        <s:element minOccurs="0" name="SalesCreditEUAcc" type="s:string" />
                        <s:element minOccurs="0" name="ExemptedCredits" type="s:string" />
                        <s:element minOccurs="0" name="SalesCreditForeignAcc" type="s:string" />
                        <s:element minOccurs="0" name="ExpenseOffsettingAccount" type="s:string" />
                        <s:element minOccurs="0" name="WipAccount" type="s:string" />
                        <s:element minOccurs="0" name="ExchangeRateDifferencesAcct" type="s:string" />
                        <s:element minOccurs="0" name="GoodsClearingAcct" type="s:string" />
                        <s:element minOccurs="0" name="NegativeInventoryAdjustmentAccount" type="s:string" />
                        <s:element minOccurs="0" name="CostInflationOffsetAccount" type="s:string" />
                        <s:element minOccurs="0" name="GLDecreaseAcct" type="s:string" />
                        <s:element minOccurs="0" name="GLIncreaseAcct" type="s:string" />
                        <s:element minOccurs="0" name="PAReturnAcct" type="s:string" />
                        <s:element minOccurs="0" name="PurchaseAcct" type="s:string" />
                        <s:element minOccurs="0" name="PurchaseOffsetAcct" type="s:string" />
                        <s:element minOccurs="0" name="ShippedGoodsAccount" type="s:string" />
                        <s:element minOccurs="0" name="StockInflationOffsetAccount" type="s:string" />
                        <s:element minOccurs="0" name="StockInflationAdjustAccount" type="s:string" />
                        <s:element minOccurs="0" name="VATInRevenueAccount" type="s:string" />
                        <s:element minOccurs="0" name="WipVarianceAccount" type="s:string" />
                        <s:element minOccurs="0" name="CostInflationAccount" type="s:string" />
                        <s:element minOccurs="0" name="WHIncomingCenvatAccount" type="s:string" />
                        <s:element minOccurs="0" name="WHOutgoingCenvatAccount" type="s:string" />
                        <s:element minOccurs="0" name="StockInTransitAccount" type="s:string" />
                        <s:element minOccurs="0" name="WipOffsetProfitAndLossAccount" type="s:string" />
                        <s:element minOccurs="0" name="InventoryOffsetProfitAndLossAccount" type="s:string" />
                        <s:element minOccurs="0" name="DefaultBin" type="s:long" />
                        <s:element minOccurs="0" name="DefaultBinEnforced">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="PurchaseBalanceAccount" type="s:string" />
                        <s:element minOccurs="0" name="ItemCycleCounts">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="ItemCycleCount">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="CycleCode" type="s:long" />
                                    <s:element minOccurs="0" name="Alert">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="tNO" />
                                          <s:enumeration value="tYES" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="NextCountingDate" type="s:date" />
                                    <s:element minOccurs="0" name="AlertTime" type="s:time" />
                                    <s:element minOccurs="0" name="DestinationUser" type="s:long" />
                                    <s:element minOccurs="0" name="WarehouseCode" type="s:string" />
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemPreferredVendors">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemPreferredVendor">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="BPCode" type="s:string" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemLocalizationInfos">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemLocalizationInfo">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="ItemCode" type="s:string" />
                        <s:element minOccurs="0" name="IncomeNature" type="s:string" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemProjects">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemProject">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="LineNumber" type="s:long" />
                        <s:element minOccurs="0" name="ValidFrom" type="s:date" />
                        <s:element minOccurs="0" name="ValidTo" type="s:date" />
                        <s:element minOccurs="0" name="Project" type="s:string" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemDistributionRules">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemDistributionRule">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="LineNumber" type="s:string" />
                        <s:element minOccurs="0" name="ValidFrom" type="s:date" />
                        <s:element minOccurs="0" name="ValidTo" type="s:date" />
                        <s:element minOccurs="0" name="DistributionRule" type="s:string" />
                        <s:element minOccurs="0" name="DistributionRule2" type="s:string" />
                        <s:element minOccurs="0" name="DistributionRule3" type="s:string" />
                        <s:element minOccurs="0" name="DistributionRule4" type="s:string" />
                        <s:element minOccurs="0" name="DistributionRule5" type="s:string" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemAttributeGroups">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemAttributeGroups">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="Attribute1" type="s:string" />
                        <s:element minOccurs="0" name="Attribute2" type="s:string" />
                        <s:element minOccurs="0" name="Attribute3" type="s:string" />
                        <s:element minOccurs="0" name="Attribute4" type="s:string" />
                        <s:element minOccurs="0" name="Attribute5" type="s:string" />
                        <s:element minOccurs="0" name="Attribute6" type="s:string" />
                        <s:element minOccurs="0" name="Attribute7" type="s:string" />
                        <s:element minOccurs="0" name="Attribute8" type="s:string" />
                        <s:element minOccurs="0" name="Attribute9" type="s:string" />
                        <s:element minOccurs="0" name="Attribute10" type="s:string" />
                        <s:element minOccurs="0" name="Attribute11" type="s:string" />
                        <s:element minOccurs="0" name="Attribute12" type="s:string" />
                        <s:element minOccurs="0" name="Attribute13" type="s:string" />
                        <s:element minOccurs="0" name="Attribute14" type="s:string" />
                        <s:element minOccurs="0" name="Attribute15" type="s:string" />
                        <s:element minOccurs="0" name="Attribute16" type="s:string" />
                        <s:element minOccurs="0" name="Attribute17" type="s:string" />
                        <s:element minOccurs="0" name="Attribute18" type="s:string" />
                        <s:element minOccurs="0" name="Attribute19" type="s:string" />
                        <s:element minOccurs="0" name="Attribute20" type="s:string" />
                        <s:element minOccurs="0" name="Attribute21" type="s:string" />
                        <s:element minOccurs="0" name="Attribute22" type="s:string" />
                        <s:element minOccurs="0" name="Attribute23" type="s:string" />
                        <s:element minOccurs="0" name="Attribute24" type="s:string" />
                        <s:element minOccurs="0" name="Attribute25" type="s:string" />
                        <s:element minOccurs="0" name="Attribute26" type="s:string" />
                        <s:element minOccurs="0" name="Attribute27" type="s:string" />
                        <s:element minOccurs="0" name="Attribute28" type="s:string" />
                        <s:element minOccurs="0" name="Attribute29" type="s:string" />
                        <s:element minOccurs="0" name="Attribute30" type="s:string" />
                        <s:element minOccurs="0" name="Attribute31" type="s:string" />
                        <s:element minOccurs="0" name="Attribute32" type="s:string" />
                        <s:element minOccurs="0" name="Attribute33" type="s:long" />
                        <s:element minOccurs="0" name="Attribute34" type="s:long" />
                        <s:element minOccurs="0" name="Attribute35" type="s:long" />
                        <s:element minOccurs="0" name="Attribute36" type="s:long" />
                        <s:element minOccurs="0" name="Attribute37" type="s:long" />
                        <s:element minOccurs="0" name="Attribute38" type="s:long" />
                        <s:element minOccurs="0" name="Attribute39" type="s:long" />
                        <s:element minOccurs="0" name="Attribute40" type="s:long" />
                        <s:element minOccurs="0" name="Attribute41" type="s:long" />
                        <s:element minOccurs="0" name="Attribute42" type="s:long" />
                        <s:element minOccurs="0" name="Attribute43" type="s:date" />
                        <s:element minOccurs="0" name="Attribute44" type="s:date" />
                        <s:element minOccurs="0" name="Attribute45" type="s:date" />
                        <s:element minOccurs="0" name="Attribute46" type="s:date" />
                        <s:element minOccurs="0" name="Attribute47" type="s:date" />
                        <s:element minOccurs="0" name="Attribute48" type="s:double" />
                        <s:element minOccurs="0" name="Attribute49" type="s:double" />
                        <s:element minOccurs="0" name="Attribute50" type="s:double" />
                        <s:element minOccurs="0" name="Attribute51" type="s:double" />
                        <s:element minOccurs="0" name="Attribute52" type="s:double" />
                        <s:element minOccurs="0" name="Attribute53" type="s:double" />
                        <s:element minOccurs="0" name="Attribute54" type="s:double" />
                        <s:element minOccurs="0" name="Attribute55" type="s:double" />
                        <s:element minOccurs="0" name="Attribute56" type="s:double" />
                        <s:element minOccurs="0" name="Attribute57" type="s:double" />
                        <s:element minOccurs="0" name="Attribute58" type="s:double" />
                        <s:element minOccurs="0" name="Attribute59" type="s:double" />
                        <s:element minOccurs="0" name="Attribute60" type="s:double" />
                        <s:element minOccurs="0" name="Attribute61" type="s:double" />
                        <s:element minOccurs="0" name="Attribute62" type="s:double" />
                        <s:element minOccurs="0" name="Attribute63" type="s:double" />
                        <s:element minOccurs="0" name="Attribute64" type="s:double" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemDepreciationParameters">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemDepreciationParameter">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="FiscalYear" type="s:string" />
                        <s:element minOccurs="0" name="DepreciationArea" type="s:string" />
                        <s:element minOccurs="0" name="DepreciationStartDate" type="s:date" />
                        <s:element minOccurs="0" name="DepreciationEndDate" type="s:date" />
                        <s:element minOccurs="0" name="UsefulLife" type="s:long" />
                        <s:element minOccurs="0" name="RemainingLife" type="s:double" />
                        <s:element minOccurs="0" name="DepreciationType" type="s:string" />
                        <s:element minOccurs="0" name="TotalUnitsInUsefulLife" type="s:long" />
                        <s:element minOccurs="0" name="RemainingUnits" type="s:long" />
                        <s:element minOccurs="0" name="StandardUnits" type="s:long" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemPeriodControls">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemPeriodControl">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="FiscalYear" type="s:string" />
                        <s:element minOccurs="0" name="DepreciationArea" type="s:string" />
                        <s:element minOccurs="0" name="SubPeriod" type="s:long" />
                        <s:element minOccurs="0" name="DepreciationStatus">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="tNO" />
                              <s:enumeration value="tYES" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="Factor" type="s:double" />
                        <s:element minOccurs="0" name="ActualUnits" type="s:long" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemUnitOfMeasurementCollection">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemUnitOfMeasurement">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="UoMType">
                          <s:simpleType>
                            <s:restriction base="s:string">
                              <s:enumeration value="iutPurchasing" />
                              <s:enumeration value="iutSales" />
                              <s:enumeration value="iutInventory" />
                            </s:restriction>
                          </s:simpleType>
                        </s:element>
                        <s:element minOccurs="0" name="UoMEntry" type="s:long" />
                        <s:element minOccurs="0" name="DefaultBarcode" type="s:long" />
                        <s:element minOccurs="0" name="DefaultPackage" type="s:long" />
                        <s:element minOccurs="0" name="Length1" type="s:double" />
                        <s:element minOccurs="0" name="Length1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Length2" type="s:double" />
                        <s:element minOccurs="0" name="Length2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Width1" type="s:double" />
                        <s:element minOccurs="0" name="Width1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Width2" type="s:double" />
                        <s:element minOccurs="0" name="Width2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Height1" type="s:double" />
                        <s:element minOccurs="0" name="Height1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Height2" type="s:double" />
                        <s:element minOccurs="0" name="Height2Unit" type="s:long" />
                        <s:element minOccurs="0" name="Volume" type="s:double" />
                        <s:element minOccurs="0" name="VolumeUnit" type="s:long" />
                        <s:element minOccurs="0" name="Weight1" type="s:double" />
                        <s:element minOccurs="0" name="Weight1Unit" type="s:long" />
                        <s:element minOccurs="0" name="Weight2" type="s:double" />
                        <s:element minOccurs="0" name="Weight2Unit" type="s:long" />
                        <s:element minOccurs="0" name="ItemUoMPackageCollection">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="ItemUoMPackage">
                                <s:complexType>
                                  <s:all>
                                    <s:element minOccurs="0" name="UoMType">
                                      <s:simpleType>
                                        <s:restriction base="s:string">
                                          <s:enumeration value="iutPurchasing" />
                                          <s:enumeration value="iutSales" />
                                          <s:enumeration value="iutInventory" />
                                        </s:restriction>
                                      </s:simpleType>
                                    </s:element>
                                    <s:element minOccurs="0" name="UoMEntry" type="s:long" />
                                    <s:element minOccurs="0" name="PackageTypeEntry" type="s:long" />
                                    <s:element minOccurs="0" name="Length1" type="s:double" />
                                    <s:element minOccurs="0" name="Length1Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Length2" type="s:double" />
                                    <s:element minOccurs="0" name="Length2Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Width1" type="s:double" />
                                    <s:element minOccurs="0" name="Width1Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Width2" type="s:double" />
                                    <s:element minOccurs="0" name="Width2Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Height1" type="s:double" />
                                    <s:element minOccurs="0" name="Height1Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Height2" type="s:double" />
                                    <s:element minOccurs="0" name="Height2Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Volume" type="s:double" />
                                    <s:element minOccurs="0" name="VolumeUnit" type="s:long" />
                                    <s:element minOccurs="0" name="Weight1" type="s:double" />
                                    <s:element minOccurs="0" name="Weight1Unit" type="s:long" />
                                    <s:element minOccurs="0" name="Weight2" type="s:double" />
                                    <s:element minOccurs="0" name="Weight2Unit" type="s:long" />
                                    <s:element minOccurs="0" name="QuantityPerPackage" type="s:double" />
                                  </s:all>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemBarCodeCollection">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="unbounded" name="ItemBarCode">
                    <s:complexType>
                      <s:all>
                        <s:element minOccurs="0" name="AbsEntry" type="s:long" />
                        <s:element minOccurs="0" name="UoMEntry" type="s:long" />
                        <s:element minOccurs="0" name="Barcode" type="s:string" />
                        <s:element minOccurs="0" name="FreeText" type="s:string" />
                      </s:all>
                    </s:complexType>
                  </s:element>
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" name="ItemIntrastatExtension">
              <s:complexType>
                <s:all>
                  <s:element minOccurs="0" name="ItemCode" type="s:string" />
                  <s:element minOccurs="0" name="CommodityCode" type="s:long" />
                  <s:element minOccurs="0" name="SupplementaryUnit" type="s:long" />
                  <s:element minOccurs="0" name="FactorOfSupplementaryUnit" type="s:double" />
                  <s:element minOccurs="0" name="ImportRegionState" type="s:long" />
                  <s:element minOccurs="0" name="ExportRegionState" type="s:long" />
                  <s:element minOccurs="0" name="ImportNatureOfTransaction" type="s:long" />
                  <s:element minOccurs="0" name="ExportNatureOfTransaction" type="s:long" />
                  <s:element minOccurs="0" name="ImportStatisticalProcedure" type="s:long" />
                  <s:element minOccurs="0" name="ExportStatisticalProcedure" type="s:long" />
                  <s:element minOccurs="0" name="CountryOfOrigin" type="s:string" />
                  <s:element minOccurs="0" name="ServiceCode" type="s:long" />
                  <s:element minOccurs="0" name="Type">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="dDocument_Items" />
                        <s:enumeration value="dDocument_Service" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="ServiceSupplyMethod">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="ssmImmediate" />
                        <s:enumeration value="ssmToMoreResumptions" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="ServicePaymentMethod">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="spmAccreditedToBankAccount" />
                        <s:enumeration value="spmBankTransfer" />
                        <s:enumeration value="spmOther" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="ImportRegionCountry" type="s:string" />
                  <s:element minOccurs="0" name="ExportRegionCountry" type="s:string" />
                  <s:element minOccurs="0" name="UseWeightInCalculation">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="tNO" />
                        <s:enumeration value="tYES" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="IntrastatRelevant">
                    <s:simpleType>
                      <s:restriction base="s:string">
                        <s:enumeration value="tNO" />
                        <s:enumeration value="tYES" />
                      </s:restriction>
                    </s:simpleType>
                  </s:element>
                  <s:element minOccurs="0" name="StatisticalCode" type="s:string" />
                </s:all>
              </s:complexType>
            </s:element>
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="ItemParams">
        <s:complexType>
          <s:all>
            <s:element minOccurs="0" name="ItemCode" type="s:string" />
          </s:all>
        </s:complexType>
      </s:element>
      <s:element name="MsgHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceName">
              <s:simpleType>
                <s:restriction base="s:string">
                  <s:enumeration value="ItemsService" />
                </s:restriction>
              </s:simpleType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="ItemsService">
      <s:import namespace="http://www.sap.com/SBO/DIS" />
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetByParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ItemParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:Item" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Remove">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ItemParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s1:ItemParams" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="s1:AddResponse" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapIn">
    <wsdl:part name="parameters" element="tns:GetByParams" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="GetByParamsSoapOut">
    <wsdl:part name="parameters" element="s1:GetByParamsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="s1:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapIn">
    <wsdl:part name="parameters" element="tns:Remove" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="RemoveSoapOut">
    <wsdl:part name="parameters" element="s1:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="CancelSoapIn">
    <wsdl:part name="parameters" element="tns:Cancel" />
    <wsdl:part name="request_header" element="s1:MsgHeader" />
  </wsdl:message>
  <wsdl:message name="CancelSoapOut">
    <wsdl:part name="parameters" element="s1:CancelResponse" />
  </wsdl:message>
  <wsdl:portType name="ItemsServiceSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <wsdl:input message="tns:GetByParamsSoapIn" />
      <wsdl:output message="tns:GetByParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input message="tns:RemoveSoapIn" />
      <wsdl:output message="tns:RemoveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <wsdl:input message="tns:CancelSoapIn" />
      <wsdl:output message="tns:CancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemsServiceSoap" type="tns:ItemsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="ItemsService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <soap:operation soapAction="ItemsService/GetByParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="ItemsService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="ItemsService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap:operation soapAction="ItemsService/Cancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
        <soap:header message="tns:CancelSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemsServiceSoap12" type="tns:ItemsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="ItemsService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:AddSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByParams">
      <soap12:operation soapAction="ItemsService/GetByParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:GetByParamsSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="ItemsService/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:UpdateSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap12:operation soapAction="ItemsService/Remove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:RemoveSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cancel">
      <soap12:operation soapAction="ItemsService/Cancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" parts="parameters" />
        <soap12:header message="tns:CancelSoapIn" part="request_header" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemsService">
    <wsdl:port name="ItemsServiceSoap" binding="tns:ItemsServiceSoap">
      <soap:address location="http://192.168.5.76/B1WS/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ItemsServiceSoap12" binding="tns:ItemsServiceSoap12">
      <soap12:address location="http://192.168.5.76/B1WS/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>